.app {
  text-align: center;
  background-color: #F3F7FA;
  min-height: 100vh;    
  display: flex;  
  align-items: center;
  flex-direction: column;
}

.app-header {  
  padding-top: 50px;  
  padding-bottom: 50px;  
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

