@import './styles/Common.scss';

.app {
  text-align: center;
  background-color: #F3F7FA;
  min-height: 100vh;    
  display: flex;  
  align-items: center;
  flex-direction: column;
  font-family: $open-sans;
}

.app-header {  
  padding-top: 42px;  
  padding-bottom: 32px;  
}

.app-container {
  display: flex;  
  // align-items: center;  
}

.main-container {
  margin-left: 20px;
}

