@import "../../styles/Common.scss";

.company-filter-container {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-bottom: 20px;
}

.company-filter-caption {
    margin: 20px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: #4a4a4a;
}
